.row
  .col-xs-6.col-xs-offset-3
    %h1= "Posts by #{@user.name}:"
.row
  .col-xs-1.col-xs-offset-3
    %h5= link_to "Following: #{@user.following.count}", user_following_index_path(@user), :class => 'user-links'
  .col-xs-1
    %h5= link_to "Followers: #{@user.followers.count}", user_followers_path(@user), :class => 'user-links'

#user-show
  = render @user.posts.latest
