<nav class='navbar navbar-inverse navbar-fixed-top'>
  <div class='container-fluid'>
    <div class='navbar-header'>
      <%= link_to 'citsocial', posts_path, :class => 'navbar-brand navbar-left' %>
    </div>
    <% if session[:user_id].present? %>
      <ul class='nav navbar-nav navbar-right'>
        <li class='dropdown'>
          <a href='#' class='dropdown-toggle' data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false'>Discover<span class='caret'></span></a>
          <ul class='dropdown-menu'>
            <li><%= link_to 'Users', users_path %></li>
          </ul>
        </li>
        <li class='dropdown'>
          <a href='#' class='dropdown-toggle' data-toggle='dropdown' role='button' aria-haspopup='true' aria-expanded='false'><%= current_user.name %> <span class='caret'></span></a>
          <ul class='dropdown-menu'>
            <li><%= link_to 'Profile', user_path(current_user) %></li>
            <li role='separator' class='divider'></li>
            <li><%= link_to 'Log Out', log_out_path, :method => :delete %></li>
          </ul>
        </li>
      </ul>
    <% end %>
  </div>
</nav>
