<div class='row'>
	<div class='col-xs-6 col-sm-offset-3'>
    <div class='panel panel-default post-panel'>
      <div class='panel-heading post-panel-heading'>
        <%= link_to "#{post.user.name}:", post.user, :class => 'post-user post-links'%>
        <% if current_user == post.user %>
          <div class='btn-group pull-right'>
            <button type='button' class='btn btn-primary btn-xs dropdown-toggle post-dropdown-toggle' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
             <span class='caret'></span>
            </button>
            <ul class='dropdown-menu'>
              <li><%= link_to 'Edit', edit_post_path(post) %></li>
              <li role='separator' class='divider'></li>
              <li><%= link_to 'Delete', post, :method => :delete, :data => { :confirm =>"Are you sure you want to delete?"} %></li>
            </ul>
          </div>
        <% end %>
      </div>
      <div class='panel-body'>
        <p class='post-title'><%= link_to post.title, post, :class => 'post-links' %></p>
        <p class='post-content'><%= post.content %></p>
      </div>
      <div class='panel-footer post-panel-footer'>
        <span><%= "#{post.comments.count} comments" %></span>
        <span class='pull-right'><%= "#{distance_of_time_in_words post.created_at, Time.now} ago" %></span>
      </div>
    </div>
  </div>
</div>
