<div class='row'>
	<div class='col-xs-6 col-sm-offset-3'>
    <div class='panel panel-default post-panel' id = <%= post.id %>>
      <div class='panel-heading post-panel-heading'>
        <%= link_to "#{post.user.name}:", post.user, :class => 'post-user post-links'%>
        <% if current_user == post.user %>
          <div class='btn-group pull-right'>
            <button type='button' class='btn btn-primary btn-xs dropdown-toggle post-dropdown-toggle' data-toggle='dropdown' aria-haspopup='true' aria-expanded='false'>
             <span class='caret'></span>
            </button>
            <ul class='dropdown-menu'>
              <li><%= link_to 'Edit', edit_post_path(post) %></li>
              <li role='separator' class='divider'></li>
              <li><%= link_to 'Delete', post, :method => :delete, :data => { :confirm =>'Are you sure you want to delete?'} %></li>
            </ul>
          </div>
        <% end %>
      </div>
      <div class='panel-body'>
        <p class='post-title'><%= link_to post.title, post, :class => 'post-links' %></p>
        <p class='post-content'><%= post.content %></p>
      </div>
      <div class='panel-footer post-panel-footer'>
        <%= render :partial => 'posts/like_button', :locals => { :post => post } %>
        <span><%= link_to post.commenters, nil, :id => post.id ,:class => 'comment-show-link' %></span>
        <span class='pull-right'><%= "#{distance_of_time_in_words post.created_at, Time.now} ago" %></span>
      </div>
    </div>
  </div>
</div>

<div class='comment-form-list' id=<%= post.id %>>
  <%= render :partial => 'comments/form',
    :locals => { :post => post, :comment => post.comments } %>

  <div class='comment-index'>
    <%= render post.comments.latest %>
  </div>

  <div class='row'>
    <div class='col-xs-6 col-xs-offset-3'>
        <div class='panel panel-default post-comment'>
          <div class='panel-body'>
            <p class='comment-hide-link-container'><%= link_to 'HIDE COMMENTS', nil, :class => 'comment-hide-link', :onclick => "hide_comments(#{post.id})", :data => { :post_id => post.id }%></p>
          </div>
        </div>
    </div>
  </div>

</div>



