.row
  .col-xs-6.col-xs-offset-3
    %h1= link_to current_user.name, current_user, :class => 'post-links'

= form_for @post, :html => {:multipart => true}, :remote => true do |f|
  = render :partial => 'posts/form', :locals => {:post => @post, :f => f}

#post-index.js-post-index
  = render @posts.latest
  .row
    .col-xs-6.col-xs-offset-3
      = paginate @posts, :theme => 'twitter-bootstrap-3'
