<div class="row">
	<div class="col-xs-6 col-sm-offset-3">    
    <div class="panel panel-default">
      <div class="panel-heading">
        <%= link_to "#{@post.user.display_full_name}:", :controller => :users, :action => :show, :id => @post.user.id %>
      </div>
      <div class="panel-body"> 
        <h3 style="margin-top: 0"><u><%= @post.title %></u></h3>       
        <p class="lead"><%= @post.content %></p>
      </div>
      <div class="panel-footer">
        <% if current_user == @post.user %>
          <%= link_to "Edit", edit_post_path, :class => "btn btn-info btn-xs pull-right" %>
        <% end %>
        <%= @post.created_at %>
      </div>
    </div>
  </div>
</div>
