<!DOCTYPE html>
<html>
<head>
  <title>Citsocial</title>
  <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <%= link_to "citsocial", index_path, :class => "navbar-brand navbar-left" %>
      <% if session[:user_id].present? %>
        <%= link_to "Log Out", log_out_path, :method => :delete,
              :class => "btn btn-danger navbar-btn navbar-right" %>
      <% end %>
    </div>
  </div>
</nav>
	

  <% error_message = [flash[:alert]].flatten.compact  %>
  <% if error_message.present? %>
    <div class="alert alert-danger" role="alert">
      <ul>
        <% error_message.each do |indiv_msg| %>
          <%= content_tag :li, indiv_msg %>
        <% end %>
      </ul>
    </div>
  <% end %>

<%= yield %>

</body>
</html>
